@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.cool {
  background-color: black;
}

.side-bar-scroll {
  overflow-y: auto;
  max-height: 80vh;
}

.post-border {
  outline: 1px solid black;
}

.comment-border {
  outline: 1px solid rgb(100, 100, 100);
}
